body{
  background-image:url(img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
margin-top: 250px;
}
div{
  color: rgb(25, 16, 18);
  text-align: center;
}
h4{
  background-color: rgb(158, 0, 0);
  color: rgb(14, 1, 1);
  padding: 5px;
}
h3{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 67, 67);
  padding: 5px;
}
.answer{
  margin-top: 10px;
}
.btn{
  border-radius: 55px;
  background-color: rgb(206, 44, 44);
  color: rgb(0, 0, 0);
  padding: 15px;
  left: 30px;
  width: 500px;
  margin-top: 10px;
  font-size: 20px;
}

h1{
  color: rgb(237, 233, 228);
  text-align: center;
  padding: 20px;
}

@media (max-width: 600px) {
  body {
    background-image:url(img.jpg);
      font-size: 14px; 
  }

  h1 {
      font-size: 24px; 
  }

  .container {
      width: 100%; 
      padding: 10px; 

  #stquote {
      font-size: 16px; 
      margin-bottom: 10px; 

  .answer {
      font-size: 18px; 
  }
}
  }}